# Test requirements are fixed in order to make CI tests less susceptible to
# dependency changes. Test dependencies should be reviewed frequently so that
# we're testing against the latest versions of our dependencies that our users
# are probably using. We recommend monitoring Libraries.io to alert for changes.

# Library Dependencies
matplotlib==3.10.3
scipy==1.16.0
scikit-learn==1.7.0
numpy==2.2.6
cycler==0.12.1

# Testing Requirements
pytest==8.4.1
pytest-cov==6.2.1
pytest-flakes==4.0.5
pytest-spec==5.0.0
coverage==7.9.1

# Optional Testing Dependencies
nltk==3.9.1
# spacy==3.8.7
pandas==2.3.0
umap-learn==0.5.7
numba==0.61.2

# Third-Party Estimator Tests
# xgboost==3.0.2
# catboost==1.2.8
